#server:
#  port: 18083
#spring:
#  cloud:
#    nacos:
#      discovery:
#        server-addr: 127.0.0.1:8848
#    sentinel:
#      transport:
#        dashboard: localhost:8080
#        port: 8719
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    url: jdbc:mysql://106.14.208.184:3306/guli_wms?useUnicode=true&characterEncoding=UTF-8&useSSL=false
#    username: root
#    password: root
#  redis:
#    host: 106.14.208.184
#    password: kflk1994
#    port: 6379
#    database: 0
#  zipkin:
#    base-url: http://localhost:9411
#    discovery-client-enabled: false
#    sender:
#      type: web
#  sleuth:
#    sampler:
#      probability: 1
#mybatis-plus:
#  global-config:
#    db-config:
#      id-type: auto
#  mapper-locations: classpath:mapper/wms/**/*.xml
#  type-aliases-package: com.atguigu.gmall.wms.entity
#feign:
#  sentinel:
#    enabled: true